{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Alex Bernini</title>

    <link rel="stylesheet" href="{% static 'bootstrap-4.5.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>

  <body data-barba="wrapper">
    
      {% block content %}
      {% endblock %}
      
    
    <!-- Footer -->
    <footer class="footer">
      <p>©<a href="https://www.sitesforstudents.co.uk"><img src="{% static 'images/logo.svg' %}" style="width:120px;"></a></p>
    </footer>
  </body>
</html>

<script src="{% static 'bootstrap-4.5.0-dist/jquery.js' %}"></script>
<script src="{% static 'bootstrap-4.5.0-dist/js/bootstrap.min.js' %}"></script>

<script src="https://unpkg.com/@barba/core"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/MotionPathPlugin.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="{% static 'barba_init.js' %}"></script>
