{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container" data-barba="container" data-barba-namespace="home">
    <div class="row h-100">
        <div class="col-12 my-auto text-center">
            <div id="typed-strings">
                <h1>Alex Bernini💻</h1>
            </div>
            <span class="display-2" id="typed"></span>
            <br>
            <div id="typed-strings-2">
                <h1>Comp Sci👨‍🎓^1000</h1>
                <h1>Web Dev🌐^1200</h1>
                <h1>App Dev📱^1200</h1>
                <h1>Founder💼^1200</h1>
                <h1>Tech Lover🔌^1200</h1>
            </div>
            <span class="display-4" id="typed-2"></span>
            <br>
            <br>
            <div id="home-links" class="home-links container">
                <div class="row text-center">
                    <div class="col-4 my-auto">
                        <a href="{% url 'sitesforstudents' %}">
                            <img id="slide-btn" src="{% static 'images/logo.svg' %}">
                        </a>
                    </div>
                    <div class="col-4 my-auto">
                        <a href="{% url 'leonardo' %}">
                            <img id="slide-btn" src="{% static 'images/leonardo/leoLogo.png' %}">
                        </a>
                    </div>
                    <div class="col-4 my-auto">
                        <a href="{% url 'ntu' %}">
                            <img id="slide-btn" src="{% static 'images/nanyang/nanyang.png' %}">
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 my-auto text-center">
                        <a href="https://www.linkedin.com/in/alex-bernini/" style="text-decoration: none;">
                            <img id="lkin" src="{% static 'images/linkdin.png' %}" style="height:20px;width:20px;border-radius: 5%;">
                        </a>
                        <a href="mailto:ajbernini@hotmail.co.uk" style="text-decoration: none;">✉️</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/@barba/core"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/MotionPathPlugin.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script>
    var typed = new Typed('#typed', {
      stringsElement: '#typed-strings',
      typeSpeed: 60,
      showCursor: false,
    });
    var typed = new Typed('#typed-2', {
      stringsElement: '#typed-strings-2',
      startDelay: 2500,
      typeSpeed: 40,
      backSpeed: 20,
      loop: true,
    });
</script>
{% endblock %}
