{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container" data-barba="container" data-barba-namespace="leonardo">
    <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="l-contnt row" style="margin-bottom: 100px; margin-top: 100px;">
            <div class="col-md-6 my-auto text-center">
              <a href="https://www.leonardocompany.com">
                <img class="logo" src="{% static 'images/leonardo/leoLogo.png' %}" style="width: 90%;">
              </a>
              <p class="desc text-left" style="padding-left: 30px;">
                For part of my university placement year, I worked at Leonard on a Big Data platform for processing radar information. My role involved
                developing a Python front-end and connecting it to the Hadoop framework such as representing and manipulating data in HBase
              </p>            
            </div>
            <div class="col-md-6 my-auto text-center">
              <img id="skill-1" class="skill" src="{% static 'images/leonardo/python.png' %}" style="width:60px;height:60px;">
              <img id="skill-2" class="skill" src="{% static 'images/leonardo/django.png' %}" style="width:60px;height:60px;border-radius: 50%;">
              <img id="skill-3" class="skill" src="{% static 'images/leonardo/bootstrap.png' %}" style="width:60px;height:60px;">
              <img id="skill-4" class="skill" src="{% static 'images/leonardo/hadoop.png' %}" style="width:80px;height:60px;">
              <img id="skill-5" class="skill" src="{% static 'images/leonardo/windows.png' %}" style="width:60px;height:60px;padding-top: 10px;padding-left:5px; padding-right:5px;">
              <img id="skill-6" class="skill" src="{% static 'images/leonardo/jira.png' %}" style="width:60px;height:60px;padding-top: 10px;padding-left:5px; padding-right:5px;">
              <img id="skill-7" class="skill" src="{% static 'images/leonardo/confluence.png' %}" style="width:60px;height:60px;padding-top: 10px;padding-left:5px; padding-right:5px;">
              <div id="skilldes-1" class="skill-des1" style="margin-top: 10px; opacity: 0;height: 100px;position: absolute; z-index: 1;">
                <p class="text-left">Python was used to develop the front-end and use Thrift to speak to HBase</p>
              </div>
              <div id="skilldes-2" class="skill-des2" style="margin-top: 10px; opacity: 0; height: 100px;position: absolute;z-index: 2;">
                <p class="text-left">Django is a web framework utilised so employees could access the big data platform through a browser and utilise validation functionality</p>
              </div>
              <div id="skilldes-3" class="skill-des3" style="margin-top: 10px; opacity: 0; height: 100px;position: absolute;z-index: 3;">
                <p class="text-left">The Bootstrap css framework was used to produce a clear, presentable front-end</p>
              </div>
              <div id="skilldes-4" class="skill-des4" style="margin-top: 10px; opacity: 0; height: 100px;position: absolute;z-index: 4;">
                <p class="text-left">The Hadoop framework was used to build the Big Data platform. I became familiar with a variety of tools for processing Big Data such as Spark and HBase</p>
              </div>
              <div id="skilldes-5" class="skill-des5" style="margin-top: 10px; opacity: 0; height: 100px;position: absolute;z-index: 5;">
                <p class="text-left">I connected the front-end with the Active Directory of the company so engineers could use their Windows login to use the system</p>
              </div>
              <div id="skilldes-6" class="skill-des6" style="margin-top: 10px; opacity: 0; height: 100px;position: absolute;z-index: 6;">
                <p class="text-left">Atlassian's Jira was used to delicate tasks for team sprints and connect with Bitbucket</p>
              </div>
              <div id="skilldes-7" class="skill-des7" style="margin-top: 10px; opacity: 0; height: 100px;position: absolute;z-index: 7;">
                <p class="text-left">Confluence was used to document in detail my work with the front-end system to ensure someone new to the platform could continue the work</p>
              </div>
            </div>         
          </div>
          <br>
          <br>
            <div class="l-links container">
                <div class="row text-center">
                    <div class="col-4 my-auto">
                        <a href="{% url 'sitesforstudents' %}">
                            <img id="slide-btn" src="{% static 'images/logo.svg' %}">
                        </a>
                    </div>
                    <div class="col-4 my-auto">
                      <img id="slide-btn" src="{% static 'images/leonardo/leoLogo.png' %}">
                    </div>
                    <div class="col-4 my-auto">
                        <a href="{% url 'ntu' %}">
                            <img id="slide-btn" src="{% static 'images/nanyang/nanyang.png' %}">
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                  <div class="col-12 my-auto text-center">
                      <a href="https://www.linkedin.com/in/alex-bernini/" style="text-decoration: none;">
                          <img id="lkin" src="{% static 'images/linkdin.png' %}" style="height:20px;width:20px;border-radius: 5%;">
                      </a>
                      <a href="mailto:ajbernini@hotmail.co.uk" style="text-decoration: none;">✉️</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
<script>
  var skill1 = document.querySelector('#skill-1');
  var skill2 = document.querySelector('#skill-2');
  var skill3 = document.querySelector('#skill-3');
  var skill4 = document.querySelector('#skill-4');
  var skill5 = document.querySelector('#skill-5');
  var skill6 = document.querySelector('#skill-6');
  var skill7 = document.querySelector('#skill-7');
  
  var des1 = document.querySelector('.skill-des1');
  var des2 = document.querySelector('.skill-des2');
  var des3 = document.querySelector('.skill-des3');
  var des4 = document.querySelector('.skill-des4');
  var des5 = document.querySelector('.skill-des5');
  var des6 = document.querySelector('.skill-des6');
  var des7 = document.querySelector('.skill-des7');
  
  skill1.addEventListener('mouseenter', onMouseOver);
  skill1.addEventListener('click', onMouseOver);
  skill1.addEventListener('mouseleave', onMouseLeave);
  
  skill2.addEventListener('mouseenter', onMouseOver);
  skill2.addEventListener('click', onMouseOver);
  skill2.addEventListener('mouseleave', onMouseLeave);
  
  skill3.addEventListener('mouseenter', onMouseOver);
  skill3.addEventListener('click', onMouseOver);
  skill3.addEventListener('mouseleave', onMouseLeave);

  skill4.addEventListener('mouseenter', onMouseOver);
  skill4.addEventListener('click', onMouseOver);
  skill4.addEventListener('mouseleave', onMouseLeave);

  skill5.addEventListener('mouseenter', onMouseOver);
  skill5.addEventListener('click', onMouseOver);
  skill5.addEventListener('mouseleave', onMouseLeave);

  skill6.addEventListener('mouseenter', onMouseOver);
  skill6.addEventListener('click', onMouseOver);
  skill6.addEventListener('mouseleave', onMouseLeave);

  skill7.addEventListener('mouseenter', onMouseOver);
  skill7.addEventListener('click', onMouseOver);
  skill7.addEventListener('mouseleave', onMouseLeave);
  
  function onMouseOver(event) {
      var trg = event.target;
      
      var tl = new TimelineLite();
      
      if(trg.id == 'skill-1'){
        gsap.to(des2, 1, {opacity: 0});
        gsap.to(des3, 1, {opacity: 0});
        gsap.to(des4, 1, {opacity: 0});
        gsap.to(des5, 1, {opacity: 0});
        gsap.to(des6, 1, {opacity: 0});
        gsap.to(des7, 1, {opacity: 0});
        tl.to(des1, 1, {opacity: 1});
      }
      else if(trg.id == 'skill-2'){
        gsap.to(des1, 1, {opacity: 0});
        gsap.to(des3, 1, {opacity: 0});
        gsap.to(des4, 1, {opacity: 0});
        gsap.to(des5, 1, {opacity: 0});
        gsap.to(des6, 1, {opacity: 0});
        gsap.to(des7, 1, {opacity: 0});
        tl.to(des2, 1, {opacity: 1});
      }
      else if(trg.id == 'skill-3'){
        gsap.to(des1, 1, {opacity: 0});
        gsap.to(des2, 1, {opacity: 0});
        gsap.to(des4, 1, {opacity: 0});
        gsap.to(des5, 1, {opacity: 0});
        gsap.to(des6, 1, {opacity: 0});
        gsap.to(des7, 1, {opacity: 0});
        tl.to(des3, 1, {opacity: 1});
      }
      else if(trg.id == 'skill-4'){
        gsap.to(des1, 1, {opacity: 0});
        gsap.to(des2, 1, {opacity: 0});
        gsap.to(des3, 1, {opacity: 0});
        gsap.to(des5, 1, {opacity: 0});
        gsap.to(des6, 1, {opacity: 0});
        gsap.to(des7, 1, {opacity: 0});
        tl.to(des4, 1, {opacity: 1});
      }
      else if(trg.id == 'skill-5'){
        gsap.to(des1, 1, {opacity: 0});
        gsap.to(des2, 1, {opacity: 0});
        gsap.to(des3, 1, {opacity: 0});
        gsap.to(des4, 1, {opacity: 0});
        gsap.to(des6, 1, {opacity: 0});
        gsap.to(des7, 1, {opacity: 0});
        tl.to(des5, 1, {opacity: 1});
      }
      else if(trg.id == 'skill-6'){
        gsap.to(des1, 1, {opacity: 0});
        gsap.to(des2, 1, {opacity: 0});
        gsap.to(des3, 1, {opacity: 0});
        gsap.to(des4, 1, {opacity: 0});
        gsap.to(des5, 1, {opacity: 0});
        gsap.to(des7, 1, {opacity: 0});
        tl.to(des6, 1, {opacity: 1});
      }
      else if(trg.id == 'skill-7'){
        gsap.to(des1, 1, {opacity: 0});
        gsap.to(des2, 1, {opacity: 0});
        gsap.to(des3, 1, {opacity: 0});
        gsap.to(des4, 1, {opacity: 0});
        gsap.to(des5, 1, {opacity: 0});
        gsap.to(des6, 1, {opacity: 0});
        tl.to(des7, 1, {opacity: 1});
      }
  }
  
  function onMouseLeave(event) {
      var trg = event.target;
      
      var tl = new TimelineLite();
      
      if(trg.id == 'skill-1'){
        tl.to(des1, 1, {opacity: 0});
      }
      else if(trg.id == 'skill-2'){
        tl.to(des2, 1, {opacity: 0});
      }
      else if(trg.id == 'skill-3'){
        tl.to(des3, 1, {opacity: 0});
      }
      else if(trg.id == 'skill-4'){
        tl.to(des4, 1, {opacity: 0});
      }  
      else if(trg.id == 'skill-5'){
        tl.to(des5, 1, {opacity: 0});
      }  
      else if(trg.id == 'skill-6'){
        tl.to(des6, 1, {opacity: 0});
      }  
      else if(trg.id == 'skill-7'){
        tl.to(des7, 1, {opacity: 0});
      }  
  }
</script>
{% endblock %}
