{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container" data-barba="container" data-barba-namespace="ntu">
    <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="ntu-contnt row" style="margin-bottom: 100px; margin-top: 100px;">
            <div class="col-md-6 my-auto text-center">
              <a href="https://www.ntu.edu.sg/Pages/home.aspx">
                <img src="{% static 'images/nanyang/nanyang.png' %}" style="width: 70%;height: 70%;">
              </a>
              <p class="desc text-left" style="padding-left: 40px;">
                For the first half of 2020, I studied in Singapore at Nanyang Technological University. There I took part in a number of projects - one in particular was 'Timewise.' This 
                smartphone application was for students to view their university timetable and add personal tasks into their schedule
              </p>            
            </div>
            <div class="col-md-6 my-auto text-center">
              <img id="skill-1" class="skill" src="{% static 'images/nanyang/react.png' %}" style="width:100px;height:100px;">
              <img id="skill-2" class="skill" src="{% static 'images/nanyang/figma.png' %}" style="width:70px;height:100px;">
              <img id="skill-3" class="skill" src="{% static 'images/nanyang/github.png' %}" style="width:90px;height:90px;">
              <div id="skilldes-1" class="skill-des1" style="margin-top: 10px; opacity: 0;height: 100px;position: absolute; z-index: 1;">
                <p class="text-left">React Native was utilised for cross-platform development, using hooks and the context API</p>
              </div>
              <div id="skilldes-2" class="skill-des2" style="margin-top: 10px; opacity: 0; height: 100px;position: absolute;z-index: 2;">
                <p class="text-left">For the whole team to understand what we were going to produce, we used Figma to develop a working prototype of the UI. The end result was 
                  identical to the prototype, sticking to our planning closely to meet all requirements
                </p>
              </div>
              <div id="skilldes-3" class="skill-des3" style="margin-top: 10px; opacity: 0; height: 100px;position: absolute;z-index: 3;">
                <p class="text-left">Github was used to collaborate with other developers, using branches and peer reviews to approve code</p>
              </div>
            </div>         
          </div>
          <br>
          <br>
            <div class="ntu-links container">
                <div class="row text-center">
                    <div class="col-4 my-auto">
                        <a href="{% url 'sitesforstudents' %}">
                            <img id="slide-btn" src="{% static 'images/logo.svg' %}">
                        </a>
                    </div>
                    <div class="col-4 my-auto">
                        <a href="{% url 'leonardo' %}">
                            <img id="slide-btn" src="{% static 'images/leonardo/leoLogo.png' %}">
                        </a>
                    </div>
                    <div class="col-4 my-auto">
                      <img id="slide-btn" src="{% static 'images/nanyang/nanyang.png' %}">
                    </div>
                </div>
                <div class="row text-center">
                  <div class="col-12 my-auto text-center">
                      <a href="https://www.linkedin.com/in/alex-bernini/" style="text-decoration: none;">
                          <img id="lkin" src="{% static 'images/linkdin.png' %}" style="height:20px;width:20px;border-radius: 5%;">
                      </a>
                      <a href="mailto:ajbernini@hotmail.co.uk" style="text-decoration: none;">✉️</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
<script>
  var skill1 = document.querySelector('#skill-1');
  var skill2 = document.querySelector('#skill-2');
  var skill3 = document.querySelector('#skill-3');
  
  var des1 = document.querySelector('#skilldes-1');
  var des2 = document.querySelector('.skill-des2');
  var des3 = document.querySelector('.skill-des3');
  
  skill1.addEventListener('mouseenter', onMouseOver);
  skill1.addEventListener('click', onMouseOver);
  skill1.addEventListener('mouseleave', onMouseLeave);
  
  skill2.addEventListener('mouseenter', onMouseOver);
  skill2.addEventListener('click', onMouseOver);
  skill2.addEventListener('mouseleave', onMouseLeave);
  
  skill3.addEventListener('mouseenter', onMouseOver);
  skill3.addEventListener('click', onMouseOver);
  skill3.addEventListener('mouseleave', onMouseLeave);
  
  function onMouseOver(event) {
      var trg = event.target;
      
      var tl = new TimelineLite();
      
      if(trg.id == 'skill-1'){
        gsap.to(des2, 1, {opacity: 0});
        gsap.to(des3, 1, {opacity: 0});
        tl.to(des1, 1, {opacity: 1});
      }
      else if(trg.id == 'skill-2'){
        gsap.to(des1, 1, {opacity: 0});
        gsap.to(des3, 1, {opacity: 0});
        tl.to(des2, 1, {opacity: 1});
      }
      else if(trg.id == 'skill-3'){
        gsap.to(des1, 1, {opacity: 0});
        gsap.to(des2, 1, {opacity: 0});
        tl.to(des3, 1, {opacity: 1});
      }
  }
  
  function onMouseLeave(event) {
      var trg = event.target;
      
      var tl = new TimelineLite();
      
      if(trg.id == 'skill-1'){
        tl.to(des1, 1, {opacity: 0});
      }
      else if(trg.id == 'skill-2'){
        tl.to(des2, 1, {opacity: 0});
      }
      else if(trg.id == 'skill-3'){
        tl.to(des3, 1, {opacity: 0});
      }  
  }
</script>
{% endblock %}
