{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container" data-barba="container" data-barba-namespace="sitesforstudents">
    <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="sfs-contnt row" style="margin-bottom: 100px; margin-top: 100px;">
            <div class="col-md-6 my-auto text-center">
              <a href="https://www.sitesforstudents.co.uk">
                <img class="logo" src="{% static 'images/logo.svg' %}" style="width: 90%;">
              </a>
              <p class="desc text-left" style="padding-left: 40px;">
                In the summer of 2020 I started Sites For Students. With the aim of improving the success of university students, graduates and those with minimal work 
                experience, we produce minimal but impactful portfolio websites so opportunity-seekers can display their full range of skills and capabilities to recruiters
              </p>            
            </div>
            <div class="col-md-6 my-auto text-center">
              <img id="skill-1" class="skill" src="{% static 'images/sitesforstudents/cpanel.png' %}" style="width:80px;height:80px;">
              <img id="skill-2" class="skill" src="{% static 'images/sitesforstudents/stripe.png' %}" style="width:80px;height:80px;border-radius: 50%;">
              <img id="skill-3" class="skill" src="{% static 'images/sitesforstudents/ssh.png' %}" style="width:80px;height:70px;">
              <div id="skilldes-1" class="skill-des1" style="margin-top: 10px; opacity: 0;height: 100px;position: absolute; z-index: 1;">
                <p class="text-left">CPanel was utilised with a Linux server to run Python web applications and site files</p>
              </div>
              <div id="skilldes-2" class="skill-des2" style="margin-top: 10px; opacity: 0; height: 100px;position: absolute;z-index: 2;">
                <p class="text-left">Stripe and its powerful web hooks were implemented for payment processing and start other functions like emailing with regards to subscriptions</p>
              </div>
              <div id="skilldes-3" class="skill-des3" style="margin-top: 10px; opacity: 0; height: 100px;position: absolute;z-index: 3;">
                <p class="text-left">Skills in SSH were developed to manipulate files with the Linux server</p>
              </div>
            </div>         
          </div>
          <br>
          <br>
            <div class="sfs-links container">
                <div class="row text-center">
                    <div class="col-4 my-auto">
                        <a href="#">
                            <img id="slide-btn" src="{% static 'images/logo.svg' %}">
                        </a>
                    </div>
                    <div class="col-4 my-auto">
                        <a href="{% url 'leonardo' %}">
                            <img id="slide-btn" src="{% static 'images/leonardo/leoLogo.png' %}">
                        </a>
                    </div>
                    <div class="col-4 my-auto">
                        <a href="{% url 'ntu' %}">
                            <img id="slide-btn" src="{% static 'images/nanyang/nanyang.png' %}">
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                  <div class="col-12 my-auto text-center">
                      <a href="https://www.linkedin.com/in/alex-bernini/" style="text-decoration: none;">
                          <img id="lkin" src="{% static 'images/linkdin.png' %}" style="height:20px;width:20px;border-radius: 5%;">
                      </a>
                      <a href="mailto:ajbernini@hotmail.co.uk" style="text-decoration: none;">✉️</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
<script>
  var skill1 = document.querySelector('#skill-1');
  var skill2 = document.querySelector('#skill-2');
  var skill3 = document.querySelector('#skill-3');
  
  var des1 = document.querySelector('#skilldes-1');
  var des2 = document.querySelector('.skill-des2');
  var des3 = document.querySelector('.skill-des3');
  
  skill1.addEventListener('mouseenter', onMouseOver);
  skill1.addEventListener('click', onMouseOver);
  skill1.addEventListener('mouseleave', onMouseLeave);
  
  skill2.addEventListener('mouseenter', onMouseOver);
  skill2.addEventListener('click', onMouseOver);
  skill2.addEventListener('mouseleave', onMouseLeave);
  
  skill3.addEventListener('mouseenter', onMouseOver);
  skill3.addEventListener('click', onMouseOver);
  skill3.addEventListener('mouseleave', onMouseLeave);
  
  function onMouseOver(event) {
      var trg = event.target;
      
      var tl = new TimelineLite();
      
      if(trg.id == 'skill-1'){
        gsap.to(des2, 1, {opacity: 0});
        gsap.to(des3, 1, {opacity: 0});
        tl.to(des1, 1, {opacity: 1});
      }
      else if(trg.id == 'skill-2'){
        gsap.to(des1, 1, {opacity: 0});
        gsap.to(des3, 1, {opacity: 0});
        tl.to(des2, 1, {opacity: 1});
      }
      else if(trg.id == 'skill-3'){
        gsap.to(des1, 1, {opacity: 0});
        gsap.to(des2, 1, {opacity: 0});
        tl.to(des3, 1, {opacity: 1});
      }
  }
  
  function onMouseLeave(event) {
      var trg = event.target;
      
      var tl = new TimelineLite();
      
      if(trg.id == 'skill-1'){
        tl.to(des1, 1, {opacity: 0});
      }
      else if(trg.id == 'skill-2'){
        tl.to(des2, 1, {opacity: 0});
      }
      else if(trg.id == 'skill-3'){
        tl.to(des3, 1, {opacity: 0});
      }  
  }
</script>
{% endblock %}
