{% load static %}
{% block content %}
<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-12 my-auto text-center">
        <h1 class="display-4">January 2020 - May 2020</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-5 my-auto text-center">
        <img src="{% static 'images/nanyang/nanyang.png' %}" style="width: 70%;height: 70%;">
    </div>
    <div class="col-md-2 my-auto text-center"></div>
    <div class="col-md-5 my-auto text-center">
        <!-- Show info on hover -->
        <img src="{% static 'images/nanyang/react.png' %}" style="width:100px;height:100px;">
        <img src="{% static 'images/nanyang/figma.png' %}" style="width:70px;height:100px;">
        <img src="{% static 'images/nanyang/github.png' %}" style="width:90px;height:90px;">
    </div>
</div>

{% endblock %}