{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="row h-100" data-barba="wrapper">
    <div class="col-md-12 my-auto text-center" data-barba="container" data-barba-namespace="sitesforstudents">
      <link rel="stylesheet" href="{% static 'bootstrap-4.5.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
        <h1 class="display-4">July 2020 - Present</h1>
        <script src="{% static 'bootstrap-4.5.0-dist/jquery.js' %}"></script>
<script src="{% static 'bootstrap-4.5.0-dist/js/bootstrap.min.js' %}"></script>
<script src="https://unpkg.com/@barba/core"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
<script>
barba.init({
  transitions: [{
    name: 'opacity-transition',
    leave(data) {
      return gsap.to(data.current.container, {
        opacity: 0
      });
    },
    enter(data) {
      return gsap.from(data.next.container, {
        opacity: 0
      });
    }
  }]
});
</script>
<script>
  gsap.from('h1', {opacity: 0, duration: 2, y: -50})
</script>
    </div>
</div>
{% endblock %}