{% load static %}
{% block content %}
<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-12 my-auto text-center">
        <h1 class="display-4">July 2019 - December 2019</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-5 my-auto text-center">
        <img src="{% static 'images/leonardo/leoLogo.png' %}" style="width: 90%;">
    </div>
    <div class="col-md-2 my-auto text-center"></div>
    <div class="col-md-5 my-auto text-center">
        <!-- Show info on hover -->
        <img src="{% static 'images/leonardo/python.png' %}" style="width:60px;height:60px;">
        <img src="{% static 'images/leonardo/django.png' %}" style="width:60px;height:60px;border-radius: 50%;">
        <img src="{% static 'images/leonardo/bootstrap.png' %}" style="width:60px;height:60px;">
        <img src="{% static 'images/leonardo/hadoop.png' %}" style="width:80px;height:60px;">
        <img src="{% static 'images/leonardo/windows.png' %}" style="width:60px;height:60px;padding-top: 10px;padding-right: 15px;">
        <img src="{% static 'images/leonardo/jira.png' %}" style="width:60px;height:60px;padding-top: 10px;padding-right: 15px;">
        <img src="{% static 'images/leonardo/confluence.png' %}" style="width:60px;height:60px;padding-top: 10px;padding-right: 15px;">
    </div>
</div>

{% endblock %}